<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <services>
      <service name="Kepler.ImageProcessor.Service.KeplerImageProcessorService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:PORT_NUMBER/Kepler.ImageProcessor.Service/"
                 xdt:Transform="SetAttributes" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>