@{

}

<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
        <li>
            <a href="#"><i class="fa fa-desktop "></i>Project A<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link" href="#"><i class="fa fa-toggle-on"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link" href="@Url.Action("BranchView", new { current_branch = "Develop"})"><i class="fa fa-bell "></i>Develop</a>
                </li>
                <li>
                    <a class="left-nav-link" href="progress.html"><i class="fa fa-circle-o "></i>Features</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-yelp "></i>Project B<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link" href="invoice.html"><i class="fa fa-coffee"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link" href="pricing.html"><i class="fa fa-flash "></i>Develop</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.left-nav-link').click(function () {
                //var $buttonClicked = $(this);
                //var id = $buttonClicked.attr('data-id');
                console.log("TEST");
                @*$.ajax({
                    url: '@Url.Action("Details")',
                    type: 'GET',
                    data: { id: id },
                    success: function (partialView) {
                        $('#page-inner').html(partialView);
                        $('#page-inner').show();
                    }
                });*@
            });
        });
    </script>
}