@{
}

<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
        <li>
            <a href="#"><i class="fa fa-desktop "></i>Project A<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="master"><i class="fa fa-toggle-on"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="develop"><i class="fa fa-bell "></i>Develop</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-yelp "></i>Project B<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link" href="invoice.html"><i class="fa fa-coffee"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link" href="pricing.html"><i class="fa fa-flash "></i>Develop</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.left-nav-link').click(function () {

            $('.left-nav-link').removeClass("current");
            $(this).addClass("current");

            var linkUrl = $(this).attr('linkUrl');

            $.ajax({
                url: linkUrl,
                type: 'GET',
                success: function (data) {
                    $('#page-inner').html(data);
                },
                complete: function (data) {
                    document.location.hash = $('.left-nav-link.current').attr("linkBranch") + "_branch"; //set HASH to url - e.g. #Develop_branch etc.
                    $('.panel-heading h3').text($('.left-nav-link.current').attr("linkBranch"));
                }
            });
        });
    });
</script>