<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
        <li>
            <a href="#" class="main-menu-item"><i class="fa fa-desktop "></i>Project A<span class="fa arrow"></span></a>
            <div class="main-menu-conf">
                <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="create" data-bottom="save">Create</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="edit" data-bottom="save">Edit</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="delete" data-bottom="yes">Delete</a></li>
                </ul>
            </div>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link main-menu-item" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="master"><i class="fa fa-toggle-on"></i>Master</a>
                    <div class="main-menu-conf">
                        <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="create" data-bottom="save">Create</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="edit" data-bottom="save">Edit</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="delete" data-bottom="yes">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="left-nav-link main-menu-item" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="develop"><i class="fa fa-bell "></i>Develop</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="main-menu-item"><i class="fa fa-yelp "></i>Project B<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link main-menu-item" href="invoice.html"><i class="fa fa-coffee"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link main-menu-item" href="pricing.html"><i class="fa fa-flash "></i>Develop</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.left-nav-link').click(function () {

            $('.left-nav-link').removeClass("current");
            $(this).addClass("current");

            var linkUrl = $(this).attr('linkUrl');

            $.ajax({
                url: linkUrl,
                type: 'GET',
                success: function (data) {
                    $('#page-inner').html(data);
                },
                complete: function (data) {
                    document.location.hash = $('.left-nav-link.current').attr("linkBranch") + "_branch"; //set HASH to url - e.g. #Develop_branch etc.
                    $('.panel-heading h3').text($('.left-nav-link.current').attr("linkBranch"));
                }
            });
        });

        $('.main-menu-conf a').click(function () {
            $('.main-menu-conf a').removeClass("current");
            $(this).addClass("current");

            loadModalWin($(this).closest('.main-menu-conf').siblings('.main-menu-item').text(), $(this).attr('data-content'));

        });

    });

</script>