@{
}

<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
        <li>
            <a href="#"><i class="fa fa-desktop "></i>Project A<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="Master"><i class="fa fa-toggle-on"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="Develop"><i class="fa fa-bell "></i>Develop</a>
                </li>
                <li>
                    <a class="left-nav-link" href="progress.html"><i class="fa fa-circle-o "></i>Features</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-yelp "></i>Project B<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a class="left-nav-link" href="invoice.html"><i class="fa fa-coffee"></i>Master</a>
                </li>
                <li>
                    <a class="left-nav-link" href="pricing.html"><i class="fa fa-flash "></i>Develop</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.left-nav-link').click(function () {
            var linkUrl = $(this).attr('linkUrl');
            //var linkBranch = $(this).attr('linkBranch');

            //$.ajax({
            //    url: linkUrl,
            //    type: 'POST',
            //    data: linkBranch,
            //    success: function (html) {
            //        $('#page-inner').html(html);
            //    }
            //});

            var car = { Make: 'Audi', Model: 'A4 Avant', Colour: 'Black', Registered: 2013 };

            $.ajax({
                type: "POST",
                url: linkUrl,
                data: JSON.stringify(car),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#page-inner').html(data);
                }
            });

        });
    });
</script>