<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">

    </ul>
</div>

<li class="main-menu-li-1-lvl" style="display: none">
    <a href="#" class="main-menu-item"><span class="fa arrow"></span></a>
    <div class="main-menu-conf">
        <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
        <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="create_proj" data-obj="">Create</a></li>
            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="edit_proj" data-obj="">Edit</a></li>
            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="delete_proj" data-obj="">Delete</a></li>
        </ul>
    </div>
    <ul class="nav nav-second-level">
    </ul>
</li>

<li class="main-menu-li-2-lvl" style="display: none">
    <a class="left-nav-link main-menu-item" href="#" linkUrl="@Url.Action("PartialBranchView")" linkBranch="master"></a>
    <div class="main-menu-conf">
        <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
        <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="create_proj">Create</a></li>
            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="edit_proj">Edit</a></li>
            <li><a href="#" data-toggle="modal" data-target="#crud-modal" data-content="delete_proj">Delete</a></li>
        </ul>
    </div>
</li>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: KeplerServiceUrl + 'GetProjects',
            type: 'GET',
            success: function (data) {
                console.log(data);

                $.each(data, function (objNum) {
                    if (data[objNum]) {
                        $('.main-menu-li-1-lvl').clone(true, true).appendTo('#main-menu').removeClass('main-menu-li-1-lvl').show();
                        $('#main-menu > li:last > .main-menu-item').prepend(data[objNum].Name);
                        $('#main-menu > li:last .dropdown-menu a').attr('data-obj', data[objNum].Id);

                        $.each(data, function (subObjNum) {
                            if (data[objNum].Branches[subObjNum]) {
                                $('.main-menu-li-2-lvl').clone(true, true).appendTo('#main-menu > li:last .nav-second-level').removeClass('main-menu-li-2-lvl');
                                $('#main-menu > li:last .nav-second-level > li:last > a').prepend(data[objNum].Branches[subObjNum].Value.Name);
                            }
                        });
                    }
                });
            }
        });

        $('.left-nav-link').click(function () {

            $('.left-nav-link').removeClass("current");
            $(this).addClass("current");

            var linkUrl = $(this).attr('linkUrl');

            $.ajax({
                url: linkUrl,
                type: 'GET',
                success: function (data) {
                    $('#page-inner').html(data);
                },
                complete: function (data) {
                    $('.panel-heading h3').text($('.left-nav-link.current').attr("linkBranch"));
                }
            });
        });

        $(document).on('click', '.main-menu-conf a', function (e) {
            loadModalWin($(this).attr('data-obj'), $(this).attr('data-content'));
        });

    });

</script>