@{
    var data = @Html.Raw(Json.Encode(@Model.car));
}

<script type="text/javascript">
    $(document).ready(function () {
        console.log(data);
    });
</script>

PartialBranchView Hi

<div class="request_block"></div>