@{
    var data = Request["Model"];
  //  Json.Write(data, Response.Output);
}

<script type="text/javascript">
    $(document).ready(function () {
        console.log(data);
    });
</script>

PartialBranchView Hi

<div class="request_block"></div>