<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <h3>Hover Rows</h3>
            <button type="button" class="btn btn-success">Create build</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Build</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="build-list-item" href="#" linkUrl="@Url.Action("PartialBuildView")">1238</a></td>
                        <td><div class="status-queued"></div></td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Stop</a></li>
                                    <li><a href="#">Run</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Set passed</a></li>
                                    <li><a href="#">Set failed</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a class="build-list-item" href="#" linkUrl="@Url.Action("PartialBuildView")">1230</a></td>
                        <td><div class="status-passed"></div></td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Stop</a></li>
                                    <li><a href="#">Run</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Set passed</a></li>
                                    <li><a href="#">Set failed</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a class="build-list-item" href="#" linkUrl="@Url.Action("PartialBuildView")">1223</a></td>
                        <td><div class="status-failed"></div></td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Stop</a></li>
                                    <li><a href="#">Run</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Set passed</a></li>
                                    <li><a href="#">Set failed</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.build-list-item').click(function () {
        var linkUrl = $(this).attr('linkUrl');

        $.ajax({
            url: linkUrl,
            type: 'GET',
            success: function (data) {
                $('#page-inner').html(data);
            }
        });
    });
</script>