<div class="col-md-12">
    <div class="col-md-8">
        <div class="col-md-6">
            <h3>Build 1234<span></span></h3>
        </div>
        <div class="col-md-2">
            <span data-toggle="dropdown" class="glyphicon glyphicon-info-sign icon-build-info" aria-hidden="true"></span>
            <ul class="dropdown-menu build-info-popup">
                <li class="build-info-start">Start: <span>27Jan</span></li>
                <li class="build-info-duration">Duration: <span>1h23m</span></li>
                <li class="build-info-tests">Tests: <span>2404</span></li>
                <li class="build-info-failed">Tests failed: <span>45</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <button data-toggle="dropdown" class="btn dropdown-toggle">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Failed</a></li>
            <li><a href="#">Passed</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Stop</a></li>
            <li><a href="#">Rerun</a></li>
            <li class="divider"></li>
            <li><a href="#">Set passed</a></li>
            <li><a href="#">Set failed</a></li>
        </ul>
    </div>
</div>