<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Kepler" providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Initial Catalog=Kepler;Integrated Security=False;User Id=user;Password=123;MultipleActiveResultSets=True;Max Pool Size=20000;Pooling=true;Connection Timeout=120" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Kepler.Service.KeplerService">
        <endpoint address="" behaviorConfiguration="RESTEndpointBehavior" binding="webHttpBinding"
                  bindingConfiguration="RestBinding" contract="Kepler.Service.IKeplerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Kepler.Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior"
             type="Kepler.Service.Extension.EnableCrossOriginResourceSharingBehavior, Kepler.Service, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp helpEnabled="true" faultExceptionEnabled="true" />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="RestBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
                 sendTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>