<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
        <li>
            <a href="" linkUrl="/admin/image-workers" class="main-menu-item">Image Workers</a>
        </li>
        <li>
            <a href="" linkUrl="/admin/diff-image" class="main-menu-item">Diff Image</a>
        </li>
    </ul>
</div>