<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
        <li>
            <a href="/admin/image-workers" linkUrl="/admin/image-workers" class="main-menu-item">Image Workers</a>
        </li>
        <li>
            <a href="/admin/service-url" linkUrl="/admin/service-url" class="main-menu-item">Service Url</a>
        </li>
        <li>
            <a href="/admin/source-image-path" linkUrl="/admin/source-image-path" class="main-menu-item">Source Image Path</a>
        </li>
        <li>
            <a href="/admin/scheduler" linkUrl="/admin/scheduler" class="main-menu-item">Clean Scheduler</a>
        </li>
    </ul>
</div>