<div class="col-md-12 build_schedule">
    <div class="panel panel-info">
        <div class="panel-heading">
            Build schedule
            <small></small>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Items to preserve</label>
                    <select class="form-control select_items_preserve">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Schedule period (days)</label>
                    <select class="form-control select_period">
                        <option value="P0D">0</option>
                        <option value="P1D">1</option>
                        <option value="P2D">2</option>
                        <option value="P3D">3</option>
                        <option value="P4D">4</option>
                        <option value="P5D">5</option>
                        <option value="P6D">6</option>
                        <option value="P7D">7</option>
                        <option value="P8D">8</option>
                        <option value="P9D">9</option>
                        <option value="P10D">10</option>
                        <option value="P11D">11</option>
                        <option value="P12D">12</option>
                        <option value="P13D">13</option>
                        <option value="P14D">14</option>
                        <option value="P15D">15</option>
                        <option value="P16D">16</option>
                        <option value="P17D">17</option>
                        <option value="P18D">18</option>
                        <option value="P19D">19</option>
                        <option value="P20D">20</option>
                        <option value="P21D">21</option>
                        <option value="P22D">22</option>
                        <option value="P23D">23</option>
                        <option value="P24D">24</option>
                        <option value="P25D">25</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-info" data-act="set_build_scheduler">Set</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 log_schedule">
    <div class="panel panel-info">
        <div class="panel-heading">
            Log schedule
            <small></small>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Items to preserve</label>
                    <select class="form-control select_items_preserve">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Schedule period (days)</label>
                    <select class="form-control select_period">
                        <option value="P0D">0</option>
                        <option value="P1D">1</option>
                        <option value="P2D">2</option>
                        <option value="P3D">3</option>
                        <option value="P4D">4</option>
                        <option value="P5D">5</option>
                        <option value="P6D">6</option>
                        <option value="P7D">7</option>
                        <option value="P8D">8</option>
                        <option value="P9D">9</option>
                        <option value="P10D">10</option>
                        <option value="P11D">11</option>
                        <option value="P12D">12</option>
                        <option value="P13D">13</option>
                        <option value="P14D">14</option>
                        <option value="P15D">15</option>
                        <option value="P16D">16</option>
                        <option value="P17D">17</option>
                        <option value="P18D">18</option>
                        <option value="P19D">19</option>
                        <option value="P20D">20</option>
                        <option value="P21D">21</option>
                        <option value="P22D">22</option>
                        <option value="P23D">23</option>
                        <option value="P24D">24</option>
                        <option value="P25D">25</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-info" data-act="set_log_scheduler">Set</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //
    // Ajax loader
    //
    var formatDateString = 'YYYY-MM-DD hh:mmA';
    var HistoryItemsNumberToPreserve = '';
    var SchedulePeriod = '';
    var LastStartTime = '';
    var NextStartTime = '';
    var BuildLastStartTime = '';
    var BuildNextStartTime = '';
    var LogLastStartTime = '';
    var LogNextStartTime = '';
    GetCleanDataScheduler('buildCleanScheduler');
    GetCleanDataScheduler('logCleanScheduler');

    function GetCleanDataScheduler(schedulerName) {
        $.ajax({
            url: KeplerServiceUrl + 'GetCleanDataScheduler?schedulerName=' + schedulerName,
            type: 'GET',
            success: function (data) {
                console.log(data);
                switch (schedulerName) {
                    case 'buildCleanScheduler':
                        $.each(data, function (key, value) {
                            if (key == 'HistoryItemsNumberToPreserve') {
                                $('.build_schedule .select_items_preserve').val(value);
                            } else if (key == 'LastStartTime') {
                                $('.build_schedule .panel-heading small').empty().append('(last clean: ' + moment(value).format(formatDateString) + ' / ');
                                BuildLastStartTime = value;
                            } else if (key == 'NextStartTime') {
                                $('.build_schedule .panel-heading small').append('next clean: ' + moment(value).format(formatDateString) + ')');
                                BuildNextStartTime = value;
                            } else if (key == 'SchedulePeriod') {
                                $('.build_schedule .select_period').val(value);
                            }
                        });
                        break;
                    case 'logCleanScheduler':
                        $.each(data, function (key, value) {
                            if (key == 'HistoryItemsNumberToPreserve') {
                                $('.log_schedule .select_items_preserve').val(value);
                            } else if (key == 'LastStartTime') {
                                $('.log_schedule .panel-heading small').append('(last clean: ' + moment(value).format(formatDateString) + ' / ');
                                LogLastStartTime = value;
                            } else if (key == 'NextStartTime') {
                                $('.log_schedule .panel-heading small').append('next clean: ' + moment(value).format(formatDateString) + ')');
                                LogNextStartTime = value;
                            } else if (key == 'SchedulePeriod') {
                                $('.log_schedule .select_period').val(value);
                            }
                        });
                        break;
                }
            }
        });
    }

    //
    // Update scheduler
    //
    $(document).on('click', '.build_schedule button, .log_schedule button', function (e) {
        switch ($(this).attr('data-act')) {
            case 'set_build_scheduler':
                GetCleanDataScheduler('buildCleanScheduler');
                HistoryItemsNumberToPreserve = parseInt($('.log_schedule .select_items_preserve').val());
                SchedulePeriod = $('.build_schedule .select_period').val();
                LastStartTime = BuildLastStartTime;
                NextStartTime = BuildNextStartTime;
                UpdateCleanDataScheduler(HistoryItemsNumberToPreserve, LastStartTime, 'buildCleanScheduler', NextStartTime, SchedulePeriod);
                break;
            case 'set_log_scheduler':
                GetCleanDataScheduler('logCleanScheduler');
                HistoryItemsNumberToPreserve = parseInt($('.log_schedule .select_items_preserve').val());
                SchedulePeriod = $('.build_schedule .select_period').val();
                LastStartTime = LogLastStartTime;
                NextStartTime = LogNextStartTime;
                UpdateCleanDataScheduler(HistoryItemsNumberToPreserve, LastStartTime, 'logCleanScheduler', NextStartTime, SchedulePeriod);
                break;
        }
    });

    function UpdateCleanDataScheduler(HistoryItemsNumberToPreserve, LastStartTime, Name, NextStartTime, SchedulePeriod) {
        ScheduleParameters = {'HistoryItemsNumberToPreserve': HistoryItemsNumberToPreserve, 'LastStartTime': LastStartTime, 
            'Name': Name, 'NextStartTime': NextStartTime, 'SchedulePeriod': SchedulePeriod};
        console.log(JSON.stringify(ScheduleParameters));
        $.ajax({
            type: 'POST',
            url: KeplerServiceUrl + 'UpdateCleanDataScheduler',
            data: JSON.stringify(ScheduleParameters),
            contentType: "application/json",
            success: function (data) {
                //console.log(data);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

</script>