<script type="text/javascript">
    $(document).ready(function() {
        document.title = 'Source image path - Kepler';
    });
</script>

<div class="col-md-12 source-image-path">
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="form-group">
                <input id="img_saving_path" class="form-control" type="text" readonly>
                <p class="help-block">Image path</p>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg edit_img_path" data-toggle="modal" data-target="#crud-modal" data-act="image_path_edit">Edit</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="form-group">
                <input id="diff_img_saving_path" class="form-control" type="text" readonly>
                <p class="help-block">Diff image path</p>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg edit_diff_img_path" data-toggle="modal" data-target="#crud-modal" data-act="diff_path_edit">Edit</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    //
    // Ajax loader
    //
    loadPath('GetSourceImagePath');
    loadPath('GetDiffImageSavingPath');

    function loadPath(pathType) {
        $.ajax({
            url: KeplerServiceUrl + pathType,
            type: 'GET',
            success: function (data) {
                switch (pathType) {
                    case 'GetSourceImagePath':
                        $('#img_saving_path').val(data);
                        break;
                    case 'GetDiffImageSavingPath':
                        $('#diff_img_saving_path').val(data);
                        break;
                }

            }
        });
    }

    //
    // Popup for edit diff img path
    //
    var obj_act = "";
    $(document).on('click', '.source-image-path button', function (e) {
        switch ($(this).attr('data-act')) {
            case 'image_path_edit':
                obj_act = "SetSourceImageSavingPath";
                $('.modal-title').text('Edit image path');
                $('.modal-body').empty().append('<div class="form-group"><label>Image path</label>' +
                    '<input class="form-control" name="sourceImageSavingPath" type="text"></div>' +
                            '<div class="alert alert-warning"></div>');
                $('.modal-footer').show().empty().append('<button type="submit" class="btn btn-success">Save</button>');
                break;
            case 'diff_path_edit':
                obj_act = "SetDiffImageSavingPath";
                $('.modal-title').text('Edit diff image path');
                $('.modal-body').empty().append('<div class="form-group"><label>Diff image path</label>' +
                    '<input class="form-control" name="diffImageSavingPath" type="text"></div>' +
                            '<div class="alert alert-warning"></div>');
                $('.modal-footer').show().empty().append('<button type="submit" class="btn btn-success">Save</button>');
                break;
        }
    });


    //
    // Ajax call for modal popup
    //
    function modal_ajax_call() {
        var url_parameters = obj_act + '?' + $('#modal_form').serialize();
        $.ajax({
            type: 'GET',
            url: KeplerServiceUrl + url_parameters,
            success: function (data) {
                $('#modal_form .alert-warning').hide();
                $('#crud-modal button.close').click();
                switch (obj_act) {
                    case 'SetSourceImageSavingPath':
                        loadPath('GetSourceImagePath');
                        break;
                    case 'SetDiffImageSavingPath':
                        loadPath('GetDiffImageSavingPath');
                        break;
                }
            },
            error: function (xhr) {
                $('#modal_form .alert-warning').show().text(xhr.responseText);
            }
        });
    }
</script>