
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    BASIC  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    background-color: #F3F3F3;
}

#wrapper {
    width: 100%;
    background: #202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #ebeff2;
}

#page-inner {
    display: inline-block;
    width: 100%;
    margin: 75px 20px 40px 0px;
    padding: 20px 10px 10px 10px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #00CA79;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;

}


/*==============================================
    MENU STYLES    
    =============================================*/
nav.navbar.navbar-default.navbar-cls-top {
    position: fixed;
    width: 100%;
    z-index: 100;
    border-top: 2px solid #71b6f9;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
}

.navbar-cls-top .navbar-brand {
    color: #69B08F;
    width: 260px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform:uppercase;
}

.header-right {
    color: #fff;
    padding: 10px 30px 5px 50px;
    float: right;
    font-size: 16px;
}

    .header-right .btn {
        background: #3b3e47;
        border: 1px solid #3b3e47;
        border-bottom: 2px solid #0d0d0f !important;
        color: #FFF;
    }

        .header-right .btn:hover {
            background: #5c5f69;
        }

.navbar-cls-top .navbar-brand:hover {
    color: #3ea0ff;
}

.user-img-div {
    min-height: 140px;
    padding: 20px;
    background-color: #4380B8;
}

    .user-img-div img {
        max-height: 60px;
    }

    .user-img-div .inner-text {
        text-align: right;
        position: relative;
        color: #fff;
        font-weight: 800;
        line-height: 25px;
    }

.active-menu {
    background-color: #00CA79!important;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #838F9A;
            text-shadow: none;
            padding: 10px 20px 10px 40px;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 10px 10px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        color: #71b6f9;
        outline: 0;
    }

.sidebar-collapse .nav > li > .main-menu-item-focus {
    color: #71b6f9;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.active > a {
    border-left: 3px solid #71b6f9;
}

.nav-second-level .active > a {
    border-left: none;
}

.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #2f353f;
}

.navbar-cls-top {
    background: #4A5260;
    border-bottom: none;
}

nav.navbar-default.navbar-side {
    position: fixed;
    margin-top: 52px;
    padding-bottom: 75px;
    overflow-y: scroll;
    height: 100%;
}

.navbar-default {
    border: 0px solid black;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00CA79;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}
/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px 50px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    margin-left: 260px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#000;
        text-decoration:none;
    }
/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (max-width:1160px) {
.screenShot-base, .screenShot-dif, .screenShot-curr {
    height: 122px;
}

    .screenShot-base img, .screenShot-dif img, .screenShot-curr img {
        width: 150px;
        height: 122px;
    }
}

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 10px 30px;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }
}
