/*GLOBAL START*/
h3 {
    margin: 0px;
}
/*GLOBAL END*/

/*BUILD LIST PAGE START*/
.panel-default .panel-heading {
    padding-bottom: 0px;
}

    .panel-default .panel-heading div {
        width: 100%;
        display: inline-block;
    }

        .panel-default .panel-heading div h3 {
            float: left;
            line-height: 34px;
            text-transform: capitalize;
        }

        .panel-default .panel-heading div button {
            float: right;
        }

.panel-default .panel-body {
    padding: 0px;
}

.panel-default .table-responsive {
    overflow: visible;
}

    .panel-default .table-responsive .table-hover {
        margin-bottom: 0px;
    }

    .panel-default .table-responsive .btn .caret {
        margin-left: 5px;
    }
/*BUILD LIST PAGE END*/

/*BUILD PAGE START*/
.icon-build-info {
    color: #337AB7;
    font-size: 21px;
    cursor: pointer;
}

.build-info-popup {
    padding-left: 10px;
}
/*BUILD PAGE END*/
