<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="site" value="http://www.your_test_site.com/"/>
    <!-- browser supported values: ff, ie, chrome-->
    <add key="browser" value="ff"/>
    <add key="seleniumHubUrl" value="http://your_hub:4444/wd/hub"/>
    <add key="screenPath" value="\\your_path_to_share\share\origin\"/>
    <add key="keplerProjectName" value="YourProject.Com"/>
    <add key="branchName" value="testBranch"/>
    <add key="buildId" value="1"/>
    <add key="jsonResult" value="ScreenShotsWithPath.json"/>
    <add key="taskCount" value="2"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
