<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="site" value="http://www.your_local_site_for_debug_test.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
<!--    <add key="browser" value="ff" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="seleniumHubUrl" value="http://your_local_hub_for_debug:4444/wd/hub" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="screenPath" value="C:\YourPath_ToScreenShots" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="taskCount" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>