<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Kepler" providerName="System.Data.SqlClient"
         connectionString="Server=SQL_INSTANCE_NAME;Initial Catalog=DB_NAME;Integrated Security=False;User Id=USER_NAME;Password=USER_PASSWORD;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="Kepler.Service.KeplerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:PORT_NUMBER/Kepler.Service/" xdt:Transform="SetAttributes" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>