<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <h3>Name of branch</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover branches_table">
                <thead>
                    <tr>
                        <th>Build</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<table style="display: none;">
    <tbody>
        <tr class="branch_sample">
            <td>
                <a class="build-list-item" href="" linkUrl=""></a>
            </td>
            <td>
                <div class="status-queued"></div>
            </td>
            <td>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Stop</a>
                        </li>
                        <li>
                            <a href="">Run</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Set passed</a>
                        </li>
                        <li>
                            <a href="">Set failed</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    //
    // Load branch info
    //
    loadBranch();

    function loadBranch() {
        $.ajax({
            url: KeplerServiceUrl + 'GetBranch?id=' + getParameterByName('branchId'),
            type: 'GET',
            success: function (data) {
                $.each(data, function (key, value) {


                        console.log(key, value);

                });
            }
        });
    }

    //
    // Load builds
    //
    loadBuilds();
    
    function loadBuilds() {
        $('.branches_table > tbody').empty();
        $.ajax({
            url: KeplerServiceUrl + 'GetBuilds?branchId=' + getParameterByName('branchId'),
            type: 'GET',
            success: function (data) {
                $.each(data, function (key, value) {
                    $('tr.branch_sample').clone(true, true).appendTo('.branches_table > tbody').removeClass('branch_sample').addClass('branch_row').show();
                    $.each(value, function (key, value) {
                        if (key == 'WorkerStatus') {
                            $('.branch_row:last td:nth-of-type(1)').html('<div class="worker-status-' + value + '">');
                        } else if (key == 'Id') {
                            $('.branch_row:last td:nth-of-type(2)').html(value);
                        } else if (key == 'Name') {
                            $('.branch_row:last td:nth-of-type(3)').html(value);
                            $('.branch_row:last td:nth-of-type(5) a').attr('worker_name', value);
                        } else if (key == 'WorkerServiceUrl') {
                            $('.branch_row:last td:nth-of-type(4)').html(value);
                        }
                        //console.log(key, value);
                    });
                });
            }
        });
    }
</script>
