<div class="col-md-12">
    <div class="col-md-6">
        <div class="col-md-1">
            <span data-toggle="dropdown" class="glyphicon glyphicon-info-sign icon-build-info" aria-hidden="true"></span>
            <ul class="dropdown-menu build-info-popup">
                <li class="build-info-start">Start: <span>27Jan</span></li>
                <li class="build-info-duration">Duration: <span>1h23m</span></li>
                <li class="build-info-tests">Tests: <span>2404</span></li>
                <li class="build-info-failed">Tests failed: <span>45</span></li>
            </ul>
        </div>
        <div id="build-info-block" class="col-md-5">
            <h3>
                Build <span></span>&nbsp;
                <div class=""></div>
            </h3>
        </div>
    </div>

    <div class="col-md-2">
        <span class="btn btn-default accordion_col_exp collapsed">Expand all</span>
    </div>
    <div class="col-md-2">
        <button data-toggle="dropdown" class="btn dropdown-toggle">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Failed</a>
            </li>
            <li>
                <a href="#">Passed</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
        <ul class="dropdown-menu build_action_menu">
            <li>
                <a href="" data-act="run_obj" typeName="build">Run</a>
            </li>
            <li>
                <a href="" data-act="stop_obj" typeName="build">Stop</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="" data-act="set_passed_obj" typeName="build">Set passed</a>
            </li>
            <li>
                <a href="" data-act="set_failed_obj" typeName="build">Set failed</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default build-panel">
        <div class="panel-body">
            <div class="panel-group testAssembly_group" id="testAssembly_group">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-default-testAssembly">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#testAssembly_group" href="#testAssembly" class="collapsed"><i class="fa"></i>&nbsp;<span>Assembly name</span></a>
        </h4>
    </div>
    <div id="testAssembly" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="panel-group testSuite_group" id="testSuite_group">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-default-testSuite">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#testSuite_group" href="#testSuite" class="collapsed"><i class="fa"></i>&nbsp;<span>Test suite name</span></a>
        </h4>
    </div>
    <div id="testSuite" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="panel-group testCase_group" id="testCase_group">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-default-testCase">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#testCase_group" href="#testCase" class="collapsed"><i class="fa"></i>&nbsp;<span>Test case name</span></a>
        </h4>
    </div>
    <div id="testCase" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="col-md-12 build-panel-one-page build-panel-one-page-hidden">
    <div class="col-md-12 build-panel-one-page-header">
        <a href="#" class="build-panel-one-page-link" target="_blank">
            <i class="fa fa-link"></i>
        </a>
    </div>
    <div class="col-md-12">
        <div class="col-md-4 build-panel-screen-base">
            <a data-toggle="lightbox" data-gallery="multiimages" data-title="Base line" href="">
                <img src="">
            </a>
        </div>
        <div class="col-md-4 build-panel-screen-dif">
            <a data-toggle="lightbox" data-gallery="multiimages" data-title="Difference" href="">
                <img src="">
            </a>
        </div>
        <div class="col-md-4 build-panel-screen-curr">
            <a data-toggle="lightbox" data-gallery="multiimages" data-title="Original" href="">
                <img src="">
            </a>
        </div>
    </div>
    <div class="col-md-12 build-panel-error-log">
        <textarea class="form-control" rows="2"></textarea>
    </div>
</div>

<div class="col-md-12 build-panel-splitter build-panel-splitter-hidden">
    <hr>
</div>

<div class="dropdown-btn-hidden">
    <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
    <ul class="dropdown-menu">
        <li>
            <a href="" data-act="run_obj">Run</a>
        </li>
        <li>
            <a href="" data-act="stop_obj">Stop</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="" data-act="set_passed_obj">Set passed</a>
        </li>
        <li>
            <a href="" data-act="set_failed_obj">Set failed</a>
        </li>
    </ul>
</div>

<script>
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

    //
    // Expand/Collapse accordions
    //
    $('.accordion_col_exp').click(function () {
        if ($(this).hasClass('collapsed')) {
            $('.panel-collapse:not(".in")').collapse('show');
            $(this).removeClass('collapsed').addClass('expanded');
            $(this).text('Collapse all');
        } else {
            $('.panel-collapse.in').collapse('hide');
            $(this).removeClass('expanded').addClass('collapsed');
            $(this).text('Expand all');
        }
    });

    //
    // Get Build
    //
    getBuild();
    function getBuild() {
        $.ajax({
            url: KeplerServiceUrl + 'GetBuild?id=' + getParameterByName('id'),
            type: 'GET',
            success: function (data) {
                $.each(data, function (key, value) {
                    if (value != null) {
                        if (key == 'Id') {
                            $('.build_action_menu a').attr('obj_id', value);
                        } else {
                            $('.icon-build-info').attr(key, value);
                        }
                    }
                });
                updateBuildInfo();
            }
        });
    }

    //
    // Update Build info (parse and insert into html)
    //
    function updateBuildInfo() {
        $('h3 > div').removeClass('status-3 status-4 status-5 status-6 status-7').addClass('status-' + $('.icon-build-info').attr('status'));

        $('h3 > span').html(getParameterByName('id'));

        $('.build-info-popup').empty();

        var startdate = moment($('.icon-build-info').attr('startdate')).format("YYYY-MM-DD hh:mmA");
        var stopdate = moment($('.icon-build-info').attr('stopdate')).format("YYYY-MM-DD hh:mmA");
        var duration = $('.icon-build-info').attr('duration').replace("PT", "").replace("H", " hours ").replace("M", " minutes ").replace("S", " seconds");
        var predictedduration = $('.icon-build-info').attr('predictedduration').replace("PT", "").replace("H", " hours ").replace("M", " minutes ").replace("S", " seconds");

        $('.build-info-popup').append($('<li>').text('Start: ' + startdate));
        $('.build-info-popup').append($('<li>').text('Stop: ' + stopdate));
        $('.build-info-popup').append($('<li>').text('Duration: ' + duration));
        $('.build-info-popup').append($('<li>').text('Predicted duration: ' + predictedduration));

        var numberscreenshots = $('.icon-build-info').attr('numberscreenshots');
        var numberfailedscreenshots = $('.icon-build-info').attr('numberfailedscreenshots');
        var numbertestassemblies = $('.icon-build-info').attr('numbertestassemblies');
        var numbertestcase = $('.icon-build-info').attr('numbertestcase');
        var numbertestsuites = $('.icon-build-info').attr('numbertestsuites');

        $('.build-info-popup').append($('<li class="divider">'));

        $('.build-info-popup').append($('<li>').text('Screenshots: ' + numberscreenshots));
        $('.build-info-popup').append($('<li>').text('Failed screenshots: ' + numberfailedscreenshots));
        $('.build-info-popup').append($('<li>').text('Test assemblies: ' + numbertestassemblies));
        $('.build-info-popup').append($('<li>').text('Test cases: ' + numbertestcase));
        $('.build-info-popup').append($('<li>').text('Test suites: ' + numbertestsuites));
    }

    //
    // Get Assembly
    //
    getAssemblies();
    var interval = 8000;
    setInterval(getAssemblies, interval);

    function getAssemblies() {
        $('#assembly_group .panel-default').addClass('panel-default-remove');
        $.ajax({
            url: KeplerServiceUrl + 'GetTestAssemblies?buildId=' + getParameterByName('id'),
            type: 'GET',
            success: function (data) {
                var entityName = '';
                var entityStatus = '';
                var entityId = '';
                var entityParentId = '';
                $.each(data, function (key, value) {
                    $.each(value, function (key, value) {
                        if (key != "TestSuites") {
                            if (key == "Name") {
                                entityName = value;
                            } else if (key == "Status") {
                                entityStatus = value;
                            } else if (key == "Id") {
                                entityId = value;
                            } else if (key == "ParentObjId") {
                                entityParentId = value;
                            }
                        } else {
                            entityBuilt(entity = 'testAssembly', entityParentId, childEntity = 'testSuite', entityId, entityName, entityStatus);
                            $.each(value, function (key, value) {
                                $.each(value, function (key, value) {
                                    if (key == "Value") {
                                        $.each(value, function (key, value) {
                                            if (key != "TestCases") {
                                                if (key == "Name") {
                                                    entityName = value;
                                                } else if (key == "Status") {
                                                    entityStatus = value;
                                                } else if (key == "Id") {
                                                    entityId = value;
                                                } else if (key == "ParentObjId") {
                                                    entityParentId = value;
                                                }
                                            } else {
                                                entityBuilt(entity = 'testSuite', entityParentId, childEntity = 'testCase', entityId, entityName, entityStatus);
                                                $.each(value, function (key, value) {
                                                    $('.panel-default-case').clone(true, true).appendTo('#assembly_group .test_case_group:last').removeClass('panel-default-case').show();
                                                    $.each(value, function (key, value) {
                                                        if (key == "Value") {
                                                            $.each(value, function (key, value) {
                                                                if (key != "ScreenShots") {
                                                                    if (key == "Name") {
                                                                        entityName = value;
                                                                    } else if (key == "Status") {
                                                                        entityStatus = value;
                                                                    } else if (key == "Id") {
                                                                        entityId = value;
                                                                    } else if (key == "ParentObjId") {
                                                                        entityParentId = value;
                                                                    }
                                                                } else {
                                                                    entityBuilt(entity = 'testCase', entityParentId, childEntity = 'test_case', entityId, entityName, entityStatus);
                                                                    //$.each(value, function (key, value) {
                                                                    //    $('.build-panel-one-page-hidden').clone(true, true).appendTo('#assembly_group .test_case_group:last .panel-default:last .panel-body').removeClass('build-panel-one-page-hidden').show();
                                                                    //    $('.build-panel-splitter-hidden').clone(true, true).appendTo('#assembly_group .test_case_group:last .panel-default:last .panel-body').removeClass('build-panel-splitter-hidden').show();
                                                                    //    $.each(value, function (key, value) {
                                                                    //        if (key == "Value") {
                                                                    //            $.each(value, function (key, value) {
                                                                    //                var slashReplaced = "";

                                                                    //                if (key == "Name") {
                                                                    //                    $('#assembly_group .build-panel-one-page:last img').attr('title', value);
                                                                    //                    $('#assembly_group .build-panel-one-page:last > div:nth-of-type(2) a').attr('data-gallery', value);
                                                                    //                    $('#assembly_group .build-panel-one-page:last > div:nth-of-type(2) a').attr('data-title', function (i, val) {
                                                                    //                        return val + '&nbsp;' + value;
                                                                    //                    });
                                                                    //                } else if (key == "Status") {
                                                                    //                    $('#assembly_group .build-panel-one-page-header:last').append('&nbsp;<span class="status-' + value + '">');
                                                                    //                } else if (key == "Id") {
                                                                    //                    $('.dropdown-btn-hidden').clone(true, true).appendTo('#assembly_group .build-panel-one-page-header:last').removeClass('dropdown-btn-hidden').addClass('dropdown-btn').show();
                                                                    //                    $('#assembly_group .build-panel-one-page-header:last .dropdown-menu a').attr('obj_id', value);
                                                                    //                    $('#assembly_group .build-panel-one-page-header:last .dropdown-menu a').attr('typeName', 'screenShot');
                                                                    //                } else if (key == "BaseLineImagePathUrl") {
                                                                    //                    slashReplaced = value.replace(/\\/g, "/");
                                                                    //                    $('#assembly_group .build-panel-screen-base:last a').attr('href', slashReplaced);
                                                                    //                } else if (key == "BaseLinePreviewPathUrl") {
                                                                    //                    slashReplaced = value.replace(/\\/g, "/");
                                                                    //                    $('#assembly_group .build-panel-screen-base:last img').attr('src', slashReplaced);
                                                                    //                } else if (key == "DiffImagePathUrl" && value.indexOf('img/') != -1) {
                                                                    //                    slashReplaced = value.replace(/\\/g, "/");
                                                                    //                    $('#assembly_group .build-panel-screen-dif:last a').attr('href', slashReplaced);
                                                                    //                } else if (key == "DiffPreviewPathUrl" && value.indexOf('img/') != -1) {
                                                                    //                    slashReplaced = value.replace(/\\/g, "/");
                                                                    //                    $('#assembly_group .build-panel-screen-dif:last img').attr('src', slashReplaced);
                                                                    //                } else if (key == "ImagePathUrl") {
                                                                    //                    slashReplaced = value.replace(/\\/g, "/");
                                                                    //                    $('#assembly_group .build-panel-screen-curr:last a').attr('href', slashReplaced);
                                                                    //                } else if (key == "PreviewImagePathUrl") {
                                                                    //                    slashReplaced = value.replace(/\\/g, "/");
                                                                    //                    $('#assembly_group .build-panel-screen-curr:last img').attr('src', slashReplaced);
                                                                    //                } else if (key == "ErrorMessage" && value != null && value != '') {
                                                                    //                    $('#assembly_group .build-panel-error-log:last').show();
                                                                    //                    $('#assembly_group .build-panel-error-log:last textarea').text(value);
                                                                    //                } else if (key == "Url" && value != null) {
                                                                    //                    $('#assembly_group .build-panel-one-page-link:last').attr('href', value).show();
                                                                    //                }
                                                                    //            });
                                                                    //        }
                                                                    //    });
                                                                    //});
                                                                }
                                                            });
                                                        }
                                                    });
                                                });
                                            }
                                        });
                                    }
                                });
                            });
                        }
                    });
                });
            }
        });
    }

    function entityBuilt(entity, entityParentId, childEntity, entityId, entityName, entityStatus) {
        if ($('#' + entity + '-' + entityId).length) {
            if ($('#' + entity + '-' + entityId + ' > .panel-heading a span:last').attr('class') != 'status-' + entityStatus) {
                $('#' + entity + '-' + entityId + ' > .panel-heading a span:last').removeClass().addClass('status-' + entityStatus);
                console.log('update');
            } else { console.log('no'); }
        } else if ($('#' + entity + '-' + entityId).length == 0) {
            if (entity == "testAssembly") {
                $('.panel-default-' + entity).clone(true, true).appendTo('#' + entity + '_group').attr('id', entity + '-' + entityId).removeClass('panel-default-' + entity).show();
            } else {
                $('.panel-default-' + entity).clone(true, true).appendTo('#' + entity + '_group-' + entityParentId).attr('id', entity + '-' + entityId).removeClass('panel-default-' + entity).show();
            }
            $('#' + entity + '-' + entityId + ' .panel-title span').text(entityName);
            $('#' + entity + '-' + entityId).attr('' + entity + '-status', entityStatus);
            $('#' + entity + '-' + entityId + ' .panel-title a').append('&nbsp;<span class="status-' + entityStatus + '">');
            $('#' + entity + '-' + entityId + ' .panel-title a').attr('href', '#panel-' + entity + '-' + entityId);
            $('#' + entity + '-' + entityId + ' .panel-collapse').attr('id', 'panel-' + entity + '-' + entityId);
            $('#' + entity + '-' + entityId + ' .panel-group').attr('id', childEntity + '_group-' + entityParentId);
            $('.dropdown-btn-hidden').clone(true, true).appendTo('#' + entity + '-' + entityId + ' .panel-heading').removeClass('dropdown-btn-hidden').addClass('dropdown-btn').show();
            $('#' + entity + '-' + entityId + ' .dropdown-menu a').attr('obj_id', entityId);
            $('#' + entity + '-' + entityId + ' .dropdown-menu a').attr('typeName', entity);
        }
    }

    //
    // Link switch
    //
    var obj_act = ""; // Variable with action
    var obj_act_with_param = ""; // Variable with parameters for operations and status change
    var typeName = "";
    var objId = "";
    var operationName = "";

    $(document).on('click', '#page-inner a', function (e) {
        switch ($(this).attr('data-act')) {
            case 'stop_obj':
                obj_act = "RunOperation?";
                typeName = 'typeName=' + $(this).attr('typeName') + '&';
                objId = 'objId=' + $(this).attr('obj_id') + '&';
                operationName = 'operationName=stop';
                obj_act_with_param = obj_act + typeName + objId + operationName;
                modal_ajax_call();
                break;
            case 'run_obj':
                obj_act = "RunOperation?";
                typeName = 'typeName=' + $(this).attr('typeName') + '&';
                objId = 'objId=' + $(this).attr('obj_id') + '&';
                operationName = 'operationName=run';
                obj_act_with_param = obj_act + typeName + objId + operationName;
                modal_ajax_call();
                break;
            case 'set_passed_obj':
                obj_act = "SetObjectsStatus?";
                typeName = 'typeName=' + $(this).attr('typeName') + '&';
                objId = 'objId=' + $(this).attr('obj_id') + '&';
                operationName = 'newStatus=passed';
                obj_act_with_param = obj_act + typeName + objId + operationName;
                modal_ajax_call();
                break;
            case 'set_failed_obj':
                obj_act = "SetObjectsStatus?";
                typeName = 'typeName=' + $(this).attr('typeName') + '&';
                objId = 'objId=' + $(this).attr('obj_id') + '&';
                operationName = 'newStatus=failed';
                obj_act_with_param = obj_act + typeName + objId + operationName;
                modal_ajax_call();
                break;
        }
    });

    //
    // Ajax call for operations and status change
    //
    function modal_ajax_call() {
        var url_parameters = "";
        if (obj_act_with_param != "") {
            url_parameters = obj_act_with_param;
        } else {
            url_parameters = obj_act + '?' + $('#modal_form').serialize();
        }

        $.ajax({
            type: 'GET',
            url: KeplerServiceUrl + url_parameters,
            success: function (data) {
                $('#modal_form .alert-warning').hide();
                $('#crud-modal button.close').click();
                getBuild();
                getAssemblies();
                obj_act_with_param = "";
            },
            error: function (xhr) {
                $('#modal_form .alert-warning').show().text(xhr.responseText);
            }
        });
    }

</script>