<script type="text/javascript">
    $(document).ready(function () {
        document.title = 'Build - Kepler';
    });
</script>

<link rel="stylesheet" href="~/Content/cocoen.min.css" />

<div class="col-md-12 col-md-12-header">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div id="build-info-block">
                            <h3>
                                <div class=""></div>
                                Build <span></span>&nbsp;
                            </h3>
                        </div>
                    </th>
                    <th>
                        <div class="build-info-container">
                            <span data-toggle="dropdown" class="glyphicon glyphicon-info-sign icon-build-info" aria-hidden="true"></span>
                            <ul class="dropdown-menu build-info-popup">

                            </ul>
                        </div>
                    </th>
                    <th>
                        <div class="build-action-block">
                            <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
                            <ul class="dropdown-menu build_action_menu">
                                <li>
                                    <a href="" data-act="run_obj" typeName="build">Run</a>
                                </li>
                                <li>
                                    <a href="" data-act="stop_obj" typeName="build">Stop</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="" data-act="set_passed_obj" typeName="build">Set passed</a>
                                </li>
                                <li>
                                    <a href="" data-act="set_failed_obj" typeName="build">Set failed</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th>
                        <div class="refresh_button">
                            <i class="fa fa-refresh"></i>
                        </div>
                    </th>
                    <th class="th-build-info-numbers"></th>
                    <th class="th-build-info-numbers"></th>
                    <th width="100%"></th>
                    <th>
                        <div class="build-filter-block">
                            <button data-toggle="dropdown" class="btn dropdown-toggle">Filter <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-act="show_all">Show all</a>
                                </li>
                                <li>
                                    <a href="#" data-act="hide_all">Hide all</a>
                                </li>
                                <li>
                                    <a href="#" data-act="show_failed">Failed</a>
                                </li>
                                <li>
                                    <a href="#" data-act="show_passed">Passed</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default build-panel">
        <div class="panel-body">
            <div class="panel-group testAssembly_group" id="testAssembly_group">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-default-testAssembly">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#testAssembly_group" href="#testAssembly" class="collapsed"><i class="fa"></i>&nbsp;<span>Assembly name</span></a>
        </h4>
    </div>
    <div id="testAssembly" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="panel-group testSuite_group" id="testSuite_group">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-default-testSuite">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#testSuite_group" href="#testSuite" class="collapsed"><i class="fa"></i>&nbsp;<span>Test suite name</span></a>
        </h4>
    </div>
    <div id="testSuite" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="panel-group testCase_group" id="testCase_group">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-default-testCase">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#testCase_group" href="#testCase" class="collapsed"><i class="fa"></i>&nbsp;<span>Test case name</span></a>
        </h4>
    </div>
    <div id="testCase" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="col-md-12 screenShot screenShot-hidden">
    <div class="col-md-12 screenShot-header">
        <a href="#" class="screenShot-link" target="_blank">
            <i class="fa fa-link"></i>
        </a>
    </div>
    <div class="col-md-12 screenShot-container">
        <div class="col-md-4 screenShot-base">
            <span>Baseline</span>
            <a data-toggle="modal" data-target="#images-modal" data-act="view_image" data-title="Base line" href="">
                <img src="">
            </a>
        </div>
        <div class="col-md-4 screenShot-dif">
            <span>Difference</span>
            <a data-toggle="modal" data-target="#images-modal" data-act="view_image" data-title="Difference" href="">
                <img src="">
            </a>
        </div>
        <div class="col-md-4 screenShot-curr">
            <span>Original</span>
            <a data-toggle="modal" data-target="#images-modal" data-act="view_image" data-title="Original" href="">
                <img src="">
            </a>
        </div>
    </div>
    <div class="col-md-12 screenShot-error-log">
        <textarea class="form-control" rows="2"></textarea>
    </div>
</div>

<div class="col-md-12 screenShot-splitter screenShot-splitter-hidden">
    <hr>
</div>

<div class="dropdown-btn-hidden">
    <i class="fa fa-cog" data-toggle="dropdown" aria-hidden="true"></i>
    <ul class="dropdown-menu">
        <li>
            <a href="" data-act="run_obj">Run</a>
        </li>
        <li>
            <a href="" data-act="stop_obj">Stop</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="" data-act="set_passed_obj">Set passed</a>
        </li>
        <li>
            <a href="" data-act="set_failed_obj">Set failed</a>
        </li>
    </ul>
</div>

<script>
    var firstPageOpen = 1;

    $(document).ready(function () {
        $('body').scrollTop(0);

        var xhr;

        if (xhr) {
            xhr.abort(); // Disable requests from previous view
        }

        $('.refresh_button i').click(function () {
            getBuild();
            getAssemblies();
        });

        //
        // Get Build
        //
        var intervalBuild;
        var getBuild = function () {
            clearInterval(intervalBuild);
            return $.Deferred(function () {
                var selfBuild = this;
                if (getParameterByName('id') != '') {
                    xhr = $.ajax({
                        url: KeplerServiceUrl + 'GetBuild?id=' + getParameterByName('id'),
                        type: 'GET',
                        success: function (data) {
                            $.each(data, function (key, value) {
                                if (value != null) {
                                    if (key == 'Id') {
                                        $('.build_action_menu a').attr('obj_id', value);
                                    } else {
                                        $('.icon-build-info').attr(key, value);
                                    }
                                }
                            });

                            var branch_id = $('.icon-build-info').attr('BranchId');
                            var level_1_menu_item = $('#main-menu a[branch_id="' + branch_id + '"].main-menu-item').parent().parent().parent();
                            var level_2_menu_item = $('#main-menu a[branch_id="' + branch_id + '"].main-menu-item');
                            if (!level_2_menu_item.hasClass('main-menu-item-focus')) {
                                if (!level_1_menu_item.hasClass('active')) {
                                    level_1_menu_item.children('.main-menu-item').click();
                                }
                                $('.main-menu-item-focus').removeClass('main-menu-item-focus');
                                level_2_menu_item.addClass('main-menu-item-focus');
                                $('nav.navbar-default.navbar-side').animate({
                                    scrollTop: $(level_2_menu_item).offset().top - 200
                                }, 500);
                            }

                            updateBuildInfo();
                            selfBuild.resolve();
                            //intervalBuild = setInterval(getBuild, 20000);
                        }
                    });
                }
            });
        };

        getBuild();

        //
        // Update Build info (parse and insert into html)
        //
        function updateBuildInfo() {
            $('h3 > div').removeClass('status-3 status-4 status-5 status-6 status-7').addClass('status-' + $('.icon-build-info').attr('status'));

            $('h3 > span').html(getParameterByName('id'));

            $('.build-info-popup').empty();

            if ($('.icon-build-info').attr('startdate') != null) {
                var startdate = moment($('.icon-build-info').attr('startdate')).format("YYYY-MM-DD hh:mmA");
            }
            if ($('.icon-build-info').attr('stopdate') != null) {
                var stopdate = moment($('.icon-build-info').attr('stopdate')).format("YYYY-MM-DD hh:mmA");
            }
            if ($('.icon-build-info').attr('duration') != null) {
                var duration = $('.icon-build-info').attr('duration').replace("PT", "").replace("H", " hours ").replace("M", " minutes ").replace("S", " seconds");
            }
            if ($('.icon-build-info').attr('predictedduration') != null) {
                var predictedduration = $('.icon-build-info').attr('predictedduration').replace("PT", "").replace("H", " hours ").replace("M", " minutes ").replace("S", " seconds");
            }

            $('.build-info-popup').append($('<li>').text('Start: ' + startdate));
            $('.build-info-popup').append($('<li>').text('Stop: ' + stopdate));
            $('.build-info-popup').append($('<li>').text('Duration: ' + duration));
            $('.build-info-popup').append($('<li>').text('Estimated duration: ' + predictedduration));

            var numberscreenshots = $('.icon-build-info').attr('numberscreenshots');
            var numberfailedscreenshots = $('.icon-build-info').attr('numberfailedscreenshots');
            var numbertestassemblies = $('.icon-build-info').attr('numbertestassemblies');
            var numbertestcase = $('.icon-build-info').attr('numbertestcase');
            var numbertestsuites = $('.icon-build-info').attr('numbertestsuites');
            var numberfailedscreenshots = $('.icon-build-info').attr('numberfailedscreenshots');
            var numberscreenshots = $('.icon-build-info').attr('numberscreenshots');

            $('.build-info-popup').append($('<li class="divider">'));

            $('.build-info-popup').append($('<li>').text('Screenshots: ' + numberscreenshots));
            $('.build-info-popup').append($('<li>').text('Failed screenshots: ' + numberfailedscreenshots));
            $('.build-info-popup').append($('<li>').text('Test assemblies: ' + numbertestassemblies));
            $('.build-info-popup').append($('<li>').text('Test cases: ' + numbertestcase));
            $('.build-info-popup').append($('<li>').text('Test suites: ' + numbertestsuites));

            $('.col-md-12-header th:nth-of-type(5)').html('Total: ' + numberscreenshots);
            $('.col-md-12-header th:nth-of-type(6)').html('Failed: ' + numberfailedscreenshots);
        }

        //
        // Get Assembly
        //
        var intervalAssemblies;
        var getAssemblies = function () {
            clearInterval(intervalAssemblies);
            return $.Deferred(function () {
                var selfBuild = this;
                if (getParameterByName('id') != '') {
                    xhr = $.ajax({
                        url: KeplerServiceUrl + 'GetTestAssemblies?buildId=' + getParameterByName('id'),
                        type: 'GET',
                        success: function (data) {
                            var entityName = '';
                            var entityStatus = '';
                            var entityId = '';
                            var entityParentId = '';
                            var BaseLineImagePathUrl = '';
                            var BaseLinePreviewPathUrl = '';
                            var DiffImagePathUrl = '';
                            var DiffPreviewPathUrl = '';
                            var ImagePathUrl = '';
                            var PreviewImagePathUrl = '';
                            var ErrorMessage = '';
                            var Url = '';

                            $.each(data, function (key, value) {
                                $.each(value, function (key, value) {
                                    if (key != "TestSuites") {
                                        if (key == "Name") {
                                            entityName = value;
                                        } else if (key == "Status") {
                                            entityStatus = value;
                                        } else if (key == "Id") {
                                            entityId = value;
                                        } else if (key == "ParentObjId") {
                                            entityParentId = value;
                                        }
                                    } else {
                                        entityBuilt(entity = 'testAssembly', entityParentId, childEntity = 'testSuite', entityId, entityName, entityStatus);
                                        $.each(value, function (key, value) {
                                            $.each(value, function (key, value) {
                                                if (key == "Value") {
                                                    $.each(value, function (key, value) {
                                                        if (key != "TestCases") {
                                                            if (key == "Name") {
                                                                entityName = value;
                                                            } else if (key == "Status") {
                                                                entityStatus = value;
                                                            } else if (key == "Id") {
                                                                entityId = value;
                                                            } else if (key == "ParentObjId") {
                                                                entityParentId = value;
                                                            }
                                                        } else {
                                                            entityBuilt(entity = 'testSuite', entityParentId, childEntity = 'testCase', entityId, entityName, entityStatus);
                                                            $.each(value, function (key, value) {
                                                                $('.panel-default-case').clone(true, true).appendTo('#assembly_group .test_case_group:last').removeClass('panel-default-case').show();
                                                                $.each(value, function (key, value) {
                                                                    if (key == "Value") {
                                                                        $.each(value, function (key, value) {
                                                                            if (key != "ScreenShots") {
                                                                                if (key == "Name") {
                                                                                    entityName = value;
                                                                                } else if (key == "Status") {
                                                                                    entityStatus = value;
                                                                                } else if (key == "Id") {
                                                                                    entityId = value;
                                                                                } else if (key == "ParentObjId") {
                                                                                    entityParentId = value;
                                                                                }
                                                                            } else {
                                                                                entityBuilt(entity = 'testCase', entityParentId, childEntity = 'screenShot', entityId, entityName, entityStatus);
                                                                                $.each(value, function (key, value) {
                                                                                    $.each(value, function (key, value) {
                                                                                        if (key == "Value") {
                                                                                            $.each(value, function (key, value) {
                                                                                                if (key == "Name") {
                                                                                                    entityName = value;
                                                                                                } else if (key == "Status") {
                                                                                                    entityStatus = value;
                                                                                                } else if (key == "Id") {
                                                                                                    entityId = value;
                                                                                                } else if (key == "ParentObjId") {
                                                                                                    entityParentId = value;
                                                                                                } else if (key == "BaseLineImagePathUrl" && value != null) {
                                                                                                    BaseLineImagePathUrl = value.replace(/\\/g, "/");
                                                                                                } else if (key == "BaseLinePreviewPathUrl" && value != null) {
                                                                                                    BaseLinePreviewPathUrl = value.replace(/\\/g, "/");
                                                                                                } else if (key == "DiffImagePathUrl" && value != null) {
                                                                                                    if (value.indexOf('img/') != -1) {
                                                                                                        DiffImagePathUrl = value.replace(/\\/g, "/");
                                                                                                    }
                                                                                                } else if (key == "DiffPreviewPathUrl" && value != null) {
                                                                                                    if (value.indexOf('img/') != -1) {
                                                                                                        DiffPreviewPathUrl = value.replace(/\\/g, "/");
                                                                                                    }
                                                                                                } else if (key == "ImagePathUrl" && value != null) {
                                                                                                    ImagePathUrl = value.replace(/\\/g, "/");
                                                                                                } else if (key == "PreviewImagePathUrl" && value != null) {
                                                                                                    PreviewImagePathUrl = value.replace(/\\/g, "/");
                                                                                                } else if (key == "ErrorMessage") {
                                                                                                    ErrorMessage = value;
                                                                                                } else if (key == "Url") {
                                                                                                    Url = value;
                                                                                                }
                                                                                            });
                                                                                            entityBuilt(entity = 'screenShot', entityParentId, childEntity, entityId, entityName, entityStatus,
                                                                                                BaseLineImagePathUrl, BaseLinePreviewPathUrl, DiffImagePathUrl, DiffPreviewPathUrl,
                                                                                                ImagePathUrl, PreviewImagePathUrl, ErrorMessage, Url);
                                                                                        }
                                                                                    });
                                                                                });
                                                                            }
                                                                        });
                                                                    }
                                                                });
                                                            });
                                                        }
                                                    });
                                                }
                                            });
                                        });
                                    }
                                });
                            });
                            selfBuild.resolve();
                            //intervalAssemblies = setInterval(getAssemblies, 20000);

                            if (firstPageOpen == 1 && window.location.hash != '') {
                                jumpToScreenshot();
                            }
                        }
                    });
                }
            });
        };

        //
        // Jump to screenshot(anchor)
        //
        function jumpToScreenshot() {
            var hash = window.location.hash.replace(/^#/, "").split('&');
            $('a[data-parentid=' + hash[0] + ']').parents('.panel-collapse:not(".in")').collapse('show');
            $('html, body').animate({
                scrollTop: $('a[data-parentid=' + hash[0] + ']').offset().top - 200
            }, 1000, function () {
                console.log('a:nth-of-type(' + hash[1] + ')[data-parentid="' + hash[0] + '"]');
                $('a[data-parentid="' + hash[0] + '"]').eq(hash[1] - 1).click() //click on screenshot after scroll finished
            });
            firstPageOpen = 0;
        }

        getAssemblies();

        //
        // Builder for testAssembly | testSuite | testCase | screenShot
        //
        function entityBuilt(entity, entityParentId, childEntity, entityId, entityName, entityStatus,
            BaseLineImagePathUrl, BaseLinePreviewPathUrl, DiffImagePathUrl, DiffPreviewPathUrl,
            ImagePathUrl, PreviewImagePathUrl, ErrorMessage, Url) {
            if ($('#' + entity + '-' + entityId).length && entity != 'screenShot') {
                if ($('#' + entity + '-' + entityId + ' > .panel-heading a span:first').attr('class') != 'status-' + entityStatus) {
                    $('#' + entity + '-' + entityId + ' > .panel-heading a span:first').removeClass().addClass('status-' + entityStatus);
                }
            } else if ($('#' + entity + '-' + entityId).length == 0 && entity != 'screenShot') {
                if (entity == "testAssembly") {
                    $('.panel-default-' + entity).clone(true, true).appendTo('#' + entity + '_group').attr('id', entity + '-' + entityId).removeClass('panel-default-' + entity).show();
                } else {
                    $('.panel-default-' + entity).clone(true, true).appendTo('#' + entity + '_group-' + entityParentId).attr('id', entity + '-' + entityId).removeClass('panel-default-' + entity).show();
                }
                $('#' + entity + '-' + entityId + ' .panel-title span').text(entityName);
                $('#' + entity + '-' + entityId).attr('' + entity + '-status', entityStatus);
                $('<span class="status-' + entityStatus + '">').insertAfter('#' + entity + '-' + entityId + ' .panel-title a i');
                $('#' + entity + '-' + entityId + ' .panel-title a').attr('href', '#panel-' + entity + '-' + entityId);
                $('#' + entity + '-' + entityId + ' .panel-collapse').attr('id', 'panel-' + entity + '-' + entityId);
                $('#' + entity + '-' + entityId + ' .panel-group').attr('id', childEntity + '_group-' + entityId);
                $('.dropdown-btn-hidden').clone(true, true).appendTo('#' + entity + '-' + entityId + ' .panel-heading').removeClass('dropdown-btn-hidden').addClass('dropdown-btn').show();
                $('#' + entity + '-' + entityId + ' .dropdown-menu a').attr('obj_id', entityId);
                $('#' + entity + '-' + entityId + ' .dropdown-menu a').attr('typeName', entity);
            } else if ($('#' + entity + '-' + entityId).length && entity == 'screenShot') {
                if ($('#' + entity + '-' + entityId + ' > .screenShot-header span:first').attr('class') != 'status-' + entityStatus) {
                    $('#' + entity + '-' + entityId + ' > .screenShot-header span:first').removeClass().addClass('status-' + entityStatus);
                }
            } else if ($('#' + entity + '-' + entityId).length == 0 && entity == 'screenShot') {
                $('.screenShot-hidden').clone(true, true).appendTo('#panel-testCase-' + entityParentId + ' > .panel-body').attr('id', entity + '-' + entityId).attr('testscreenshot-status', entityStatus).removeClass('screenShot-hidden').show();
                $('.screenShot-splitter-hidden').clone(true, true).appendTo('#' + entity + '-' + entityId).removeClass('screenShot-splitter-hidden').show();
                $('#' + entity + '-' + entityId + ' img').attr('title', entityName);
                $('#' + entity + '-' + entityId + ' > div:nth-of-type(2) a').attr('data-parentId', entityId);
                $('#' + entity + '-' + entityId + ' > div:nth-of-type(2) a').attr('screenshot_name', entityName);
                $('#' + entity + '-' + entityId + ' > div:nth-of-type(2) a').attr('data-title', function (i, val) {
                    return val + '&nbsp;' + entityName;
                });
                $('#' + entity + '-' + entityId + ' .screenShot-header').append('&nbsp;<span class="status-' + entityStatus + '">');
                $('.dropdown-btn-hidden').clone(true, true).appendTo('#' + entity + '-' + entityId + ' .screenShot-header').removeClass('dropdown-btn-hidden').addClass('dropdown-btn').show();
                $('#' + entity + '-' + entityId + ' .screenShot-header .dropdown-menu a').attr('obj_id', entityId);
                $('#' + entity + '-' + entityId + ' .screenShot-header .dropdown-menu a').attr('typeName', 'screenShot');
                $('#' + entity + '-' + entityId + ' .screenShot-header').append('<span class="screenShot-title">' + entityName + '</span>');
                $('#' + entity + '-' + entityId + ' .screenShot-base a').attr('href', BaseLineImagePathUrl);
                $('#' + entity + '-' + entityId + ' .screenShot-base img').attr('src', BaseLinePreviewPathUrl);
                if (DiffImagePathUrl.indexOf('img/') != -1) {
                    $('#' + entity + '-' + entityId + ' .screenShot-dif a').attr('href', DiffImagePathUrl);
                }
                if (DiffPreviewPathUrl.indexOf('img/') != -1) {
                    $('#' + entity + '-' + entityId + ' .screenShot-dif img').attr('src', DiffPreviewPathUrl);
                }
                $('#' + entity + '-' + entityId + ' .screenShot-curr a').attr('href', ImagePathUrl);
                $('#' + entity + '-' + entityId + ' .screenShot-curr img').attr('src', PreviewImagePathUrl);

                if (ErrorMessage != null && ErrorMessage != '') {
                    $('#' + entity + '-' + entityId + ' .screenShot-error-log').show();
                    $('#' + entity + '-' + entityId + ' .screenShot-error-log textarea').text(ErrorMessage);
                }
                if (Url != null) {
                    $('#' + entity + '-' + entityId + ' .screenShot-link').attr('href', Url).show();
                }
            }

        }

        //
        // Link switch
        //
        var obj_act = ""; // Variable with action
        var obj_act_with_param = ""; // Variable with parameters for operations and status change
        var typeName = "";
        var objId = "";
        var operationName = "";
        var clean_status = "div[testassembly-status], div[testsuite-status], div[testcase-status], div[testscreenshot-status]";
        var failed_status = 'div[testassembly-status="6"], div[testsuite-status="6"], div[testcase-status="6"], div[testscreenshot-status="6"]';
        var passed_status = 'div[testassembly-status="5"], div[testsuite-status="5"], div[testcase-status="5"], div[testscreenshot-status="5"]';

        $(document).on('click', '#page-inner a', function (e) {
            switch ($(this).attr('data-act')) {
                case 'stop_obj':
                    obj_act = "RunOperation?";
                    typeName = 'typeName=' + $(this).attr('typeName') + '&';
                    objId = 'objId=' + $(this).attr('obj_id') + '&';
                    operationName = 'operationName=stop';
                    obj_act_with_param = obj_act + typeName + objId + operationName;
                    modal_ajax_call();
                    break;
                case 'run_obj':
                    obj_act = "RunOperation?";
                    typeName = 'typeName=' + $(this).attr('typeName') + '&';
                    objId = 'objId=' + $(this).attr('obj_id') + '&';
                    operationName = 'operationName=run';
                    obj_act_with_param = obj_act + typeName + objId + operationName;
                    modal_ajax_call();
                    break;
                case 'set_passed_obj':
                    obj_act = "SetObjectsStatus?";
                    typeName = 'typeName=' + $(this).attr('typeName') + '&';
                    objId = 'objId=' + $(this).attr('obj_id') + '&';
                    operationName = 'newStatus=passed';
                    obj_act_with_param = obj_act + typeName + objId + operationName;
                    modal_ajax_call();
                    break;
                case 'set_failed_obj':
                    obj_act = "SetObjectsStatus?";
                    typeName = 'typeName=' + $(this).attr('typeName') + '&';
                    objId = 'objId=' + $(this).attr('obj_id') + '&';
                    operationName = 'newStatus=failed';
                    obj_act_with_param = obj_act + typeName + objId + operationName;
                    modal_ajax_call();
                    break;
                case 'show_all':
                    $(clean_status).children('.panel-collapse:not(".in")').collapse('show');
                    $(clean_status).parents('.panel-collapse:not(".in")').collapse('show');
                    $('div[testscreenshot-status]').show();
                    break;
                case 'hide_all':
                    $(clean_status).children('.panel-collapse.in').collapse('hide');
                    $(clean_status).parents('.panel-collapse.in').collapse('hide');
                    $('div[testscreenshot-status]').show();
                    break;
                case 'show_passed':
                    $.each($(failed_status), function () {
                        if ($(this).find(passed_status).length == 0) {
                            $(this).children('.panel-collapse.in').collapse('hide');
                        }
                    });
                    $(passed_status).children('.panel-collapse:not(".in")').collapse('show');
                    $(passed_status).parents('.panel-collapse:not(".in")').collapse('show');
                    $('div[testscreenshot-status="5"]').show();
                    $('div[testscreenshot-status="6"]').hide();
                    break;
                case 'show_failed':
                    $.each($(passed_status), function () {
                        if ($(this).find(failed_status).length == 0) {
                            $(this).children('.panel-collapse.in').collapse('hide');
                        }
                    });
                    $(failed_status).children('.panel-collapse:not(".in")').collapse('show');
                    $(failed_status).parents('.panel-collapse:not(".in")').collapse('show');
                    $('div[testscreenshot-status="6"]').show();
                    $('div[testscreenshot-status="5"]').hide();
                    break;
                case 'view_image':
                    var numberOfOpenedImage = $(this).parent().index() + 1;

                    $('#images-modal .modal-title').text($(this).attr('screenshot_name'));

                    $('#images-modal .modal-body').empty();
                    $(this).closest('.screenShot-container').find('a').each(function () {
                        $('#images-modal .modal-body').append('<img src="' + $(this).attr('href') + '">');
                    });
                    $('#images-modal .modal-body img:nth-of-type(' + numberOfOpenedImage + ')').show();

                    $('#images-modal .modal-footer').show().empty().append('<button data-dismiss="modal" class="btn btn-danger">Close</button>');
                    break;
            }
        });

        //
        // Image modal viewer control
        //
        $(document).on('click', '#images-modal a', function (e) {
            switch ($(this).attr('data-act')) {
                case 'switch_baseline':
                    $('#images-modal .modal-body img').hide();
                    $('.cocoen').remove();

                    $('#images-modal .modal-body img:nth-of-type(1)').show();
                    break;
                case 'switch_compare_1':
                    $('#images-modal .modal-body img').hide();
                    $('.cocoen').remove();

                    $('#images-modal .modal-body').append('<div class="cocoen">');
                    $('#images-modal .modal-body img:nth-of-type(1), #images-modal .modal-body img:nth-of-type(2)').clone().appendTo('.cocoen');
                    $('.cocoen img').show();
                    $('.cocoen').cocoen();
                    break;
                case 'switch_difference':
                    $('#images-modal .modal-body img').hide();
                    $('.cocoen').remove();

                    $('#images-modal .modal-body img:nth-of-type(2)').show();
                    break;
                case 'switch_compare_2':
                    $('#images-modal .modal-body img').hide();
                    $('.cocoen').remove();

                    $('#images-modal .modal-body').append('<div class="cocoen">');
                    $('#images-modal .modal-body img:nth-of-type(2), #images-modal .modal-body img:nth-of-type(3)').clone().appendTo('.cocoen');
                    $('.cocoen img').show();
                    $('.cocoen').cocoen();
                    break;
                case 'switch_original':
                    $('#images-modal .modal-body img').hide();
                    $('.cocoen').remove();

                    $('#images-modal .modal-body img:nth-of-type(3)').show();
                    break;
            }
        });

        //
        // Ajax call for operations and status change
        //
        function modal_ajax_call() {
            var url_parameters = "";
            if (obj_act_with_param != "") {
                url_parameters = obj_act_with_param;
            } else {
                url_parameters = obj_act + '?' + $('#modal_form').serialize();
            }

            $.ajax({
                type: 'GET',
                url: KeplerServiceUrl + url_parameters,
                success: function (data) {
                    $('#modal_form .alert-warning').hide();
                    $('#crud-modal button.close').click();
                    getBuild();
                    getAssemblies();
                    obj_act_with_param = "";
                },
                error: function (xhr) {
                    $('#modal_form .alert-warning').show().text(xhr.responseText);
                }
            });
        }
    });
</script>

<script src="~/Scripts/cocoen.min.js"></script>