<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <h3></h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover builds_table">
                <thead>
                    <tr>
                        <th>Build</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<table style="display: none;">
    <tbody>
        <tr class="branch_sample">
            <td>
                <a class="build-list-item" href="" linkUrl=""></a>
            </td>
            <td>
                <div class="status-queued"></div>
            </td>
            <td>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Stop</a>
                        </li>
                        <li>
                            <a href="">Run</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Set passed</a>
                        </li>
                        <li>
                            <a href="">Set failed</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#crud-modal" data-act="delete_build">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    //
    // Load branch info
    //
    loadBranch();

    function loadBranch() {
        $('.builds_table > tbody').empty();
        $.ajax({
            url: KeplerServiceUrl + 'GetBranch?id=' + getParameterByName('branchId'),
            type: 'GET',
            success: function (data) {
                $.each(data, function (key, value) {
                    if (key == 'Name') {
                        $('.panel-heading h3').html(value);
                    } else if (key != 'Builds') {
                        $('.panel-heading h3').attr(key, value);
                    } else if (key == 'Builds') {
                        $.each(value, function (key, value) {
                            $('tr.branch_sample').clone(true, true).appendTo('.builds_table > tbody').removeClass('branch_sample').addClass('build_row').show();
                            $.each(value, function (key, value) {
                                if (key == 'Value') {
                                    $.each(value, function (key, value) {
                                        if (key == 'Id') {
                                            $('.build_row:last td:nth-of-type(1) a').html(value);
                                            $('.build_row:last td:nth-of-type(1) a').attr('linkurl', '/build?id=' + value);
                                            $('.build_row:last td:nth-of-type(3) a').attr('build_id', value);
                                        } else if (key == 'Status') {
                                            $('.build_row:last td:nth-of-type(2)').html('<div class="status-' + value + '">');
                                        }
                                    });
                                }
                            });
                        });
                    }
                });
            }
        });
    }

    //
    // Popup switch
    //
    var obj_act = ""; // Variable with action

    $(document).on('click', '.builds_table a', function (e) {
        switch ($(this).attr('data-act')) {
            case 'delete_build':
                obj_act = "DeleteBuild";
                $('.modal-title').text('Delete build ' + $(this).attr('build_id'));
                $('.modal-body').empty().append('<input class="form-control" name="id" type="hidden" value="' + $(this).attr('build_id') + '">' +
                    'Are you sure?');
                $('.modal-footer').show().empty().append('<button type="submit" class="btn btn-success">Yes</button>');
                break;
        }
    });

    //
    // Ajax call for modal popup
    //
    function modal_ajax_call() {
        var url_parameters = obj_act + '?' + $('#modal_form').serialize();
        $.ajax({
            type: 'GET',
            url: KeplerServiceUrl + url_parameters,
            success: function (data) {
                $('#modal_form .alert-warning').hide();
                $('#crud-modal button.close').click();
                loadBranch();
            },
            error: function (xhr) {
                $('#modal_form .alert-warning').show().text(xhr.responseText);
            }
        });
    }
</script>
