@*
@{
    ViewData["BuildId"] = RO
}
*@


<div class="col-md-12">
    <div class="col-md-8">
        <div class="col-md-6">
            <h3>Build <span>@Model.BuildId</span>&nbsp;<div class="status-queued"></div></h3>
        </div>
        <div class="col-md-2">
            <span data-toggle="dropdown" class="glyphicon glyphicon-info-sign icon-build-info" aria-hidden="true"></span>
            <ul class="dropdown-menu build-info-popup">
                <li class="build-info-start">Start: <span>27Jan</span></li>
                <li class="build-info-duration">Duration: <span>1h23m</span></li>
                <li class="build-info-tests">Tests: <span>2404</span></li>
                <li class="build-info-failed">Tests failed: <span>45</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <button data-toggle="dropdown" class="btn dropdown-toggle">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Failed</a></li>
            <li><a href="#">Passed</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Stop</a></li>
            <li><a href="#">Rerun</a></li>
            <li class="divider"></li>
            <li><a href="#">Set passed</a></li>
            <li><a href="#">Set failed</a></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default build-panel">
        <div class="panel-body">
            <div class="panel-group assembly_group" id="assembly_group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#assembly_group" href="#assembly1" class="collapsed"><span>Assembly 1</span> <i class="fa"></i></a>
                        </h4>
                    </div>
                    <div id="assembly1" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <div class="panel-group test_suite_group" id="test_suite_group11">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#test_suite_group11" href="#test_suite11" class="collapsed"><span class="status-queued"></span>&nbsp;<span>Test suite 1</span> <i class="fa"></i></a>
                                        </h4>
                                        <div class="dropdown-btn">
                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Stop</a></li>
                                                <li><a href="#">Rerun</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Set passed</a></li>
                                                <li><a href="#">Set failed</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="test_suite11" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="panel-group test_case_group" id="test_case_group11">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group11" href="#test_case11" class="collapsed"><span class="status-queued"></span>&nbsp;<span>Test case 1</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case11" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div class="col-md-12 build-panel-one-page">
                                                                <div class="col-md-12 build-panel-one-page-header">
                                                                    <span>1</span>
                                                                    <a href="#" class="build-panel-one-page-link" target="_blank"><i class="fa fa-link"></i></a>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="col-md-4 build-panel-screen-base">
                                                                        <a data-toggle="lightbox" data-gallery="multiimages" data-title="Base line" href="http://www.designervista.com/images/website/screenshots6/large/Website.png">
                                                                            <img alt="Alt" title="Title" src="http://image.jimcdn.com/app/cms/image/transf/dimension=118x1024:mode=fitin:format=jpg/path/s800b008301e94537/image/i9cb1da829de9d0a7/version/1359674476/image.jpg">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-md-4 build-panel-screen-dif">
                                                                        <a data-toggle="lightbox" data-gallery="multiimages" data-title="Difference" href="http://www.websitescreenshots.com/images/example-club977.jpg">
                                                                            <img alt="Alt" title="Title" src="http://image.jimcdn.com/app/cms/image/transf/dimension=118x1024:mode=fitin:format=jpg/path/s800b008301e94537/image/ic3c0a3610c9d898b/version/1415617620/image.jpg">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-md-4 build-panel-screen-curr">
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 build-panel-error-log">
                                                                    <textarea class="form-control" rows="1"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 build-panel-splitter">
                                                                <hr>
                                                            </div>
                                                            <div class="col-md-12 build-panel-one-page">
                                                                <div class="col-md-12 build-panel-one-page-header">
                                                                    <span>2</span>
                                                                    <a href="#" class="build-panel-one-page-link" target="_blank"><i class="fa fa-link"></i></a>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="col-md-4 build-panel-screen-base">

                                                                    </div>
                                                                    <div class="col-md-4 build-panel-screen-dif">

                                                                    </div>
                                                                    <div class="col-md-4 build-panel-screen-curr">

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 build-panel-error-log">
                                                                    <textarea class="form-control" rows="1"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group11" href="#test_case12" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test case 2</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case12" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#test_suite_group11" href="#test_suite12" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test suite 2</span> <i class="fa"></i></a>
                                        </h4>
                                        <div class="dropdown-btn">
                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Stop</a></li>
                                                <li><a href="#">Rerun</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Set passed</a></li>
                                                <li><a href="#">Set failed</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="test_suite12" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="panel-group test_case_group" id="test_case_group21">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group21" href="#test_case21" class="collapsed"><span class="status-passed"></span>&nbsp;<span>Test case 1</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case21" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group21" href="#test_case22" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test case 2</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case22" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#assembly_group" href="#assembly2" class="collapsed"><span>Assembly 2</span> <i class="fa"></i></a>
                        </h4>
                    </div>
                    <div id="assembly2" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <div class="panel-group test_suite_group" id="test_suite_group21">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#test_suite_group21" href="#test_suite21" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test suite 1</span> <i class="fa"></i></a>
                                        </h4>
                                        <div class="dropdown-btn">
                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Stop</a></li>
                                                <li><a href="#">Rerun</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Set passed</a></li>
                                                <li><a href="#">Set failed</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="test_suite21" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="panel-group test_case_group" id="test_case_group41">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group41" href="#test_case41" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test case 1</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case41" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group41" href="#test_case42" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test case 2</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case42" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#test_suite_group21" href="#test_suite22" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test suite 2</span> <i class="fa"></i></a>
                                        </h4>
                                        <div class="dropdown-btn">
                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Stop</a></li>
                                                <li><a href="#">Rerun</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Set passed</a></li>
                                                <li><a href="#">Set failed</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="test_suite22" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="panel-group test_case_group" id="test_case_group31">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group31" href="#test_case31" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test case 1</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case31" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#test_case_group31" href="#test_case32" class="collapsed"><span class="status-failed"></span>&nbsp;<span>Test case 2</span> <i class="fa"></i></a>
                                                        </h4>
                                                        <div class="dropdown-btn">
                                                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Stop</a></li>
                                                                <li><a href="#">Rerun</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#">Set passed</a></li>
                                                                <li><a href="#">Set failed</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="test_case32" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            Test Case body
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
